body {
    font: normal 20px Courier New;
    color: lime
}
h1 {
    font-size: 300%;
}
p  {
    font-size: 160%;
}
b  {
    font-size: 150%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size 190%;
}
li {
    font-size 100%;
}
br {
    font-size 100%;
} 
body {background-color: #272828 ;}